.masthead {
    &.segment {
        min-height: 950px;
        padding: 1em 0em;
    }
    h1.ui.header {
        margin-top: 3em;
        margin-bottom: 0em;
        font-size: 4em;
        font-weight: normal;
    }
}

#computer-menu {
    padding-bottom: 2rem;
}

#soulmedicine-home-masthead {
    background-color: #FFDCD2;
}

#sign-up-form {
    padding-top: 150px;
    padding-bottom: 150px;
}
