<div class="ui relaxed grid">
	<div class="column computer only" id="computer-menu">
		<div class="ui large stackable menu">
			<div class="header item">
				<%= image_tag('https://soulmedicine.herokuapp.com/assets/logo-31451006b53aaad6d07a4cc35f6467a0a3c60a2ac37cd81e8c5fe9ecab10aa7b.png', class: 'ui avatar image') %>
				Soul Medicine
			</div>
            <a class="item" href="/">Home</a>
            <a class="item" href="/pages/ethos.html">Ethos</a>
            <a class="item" href="/pages/courses.html">Courses</a>
            <a class="item" href="/pages/contribute.html">Contribute</a>
            <a class="item">Donate</a>
			<div class="right menu">
				<%# link_to('<i class="sign in icon"></i> '.html_safe+t('site.sign_in'), login_path, class: 'item') #%>
				<a class="typeform-share link item" href="https://fahizzle.typeform.com/to/J4Sv7R" data-mode="1" target="_blank"><i class="comments icon"></i> Feedback</a>
				<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
				<div class="ui simple dropdown item">
					<i class="translate icon"></i> Language
					<i class="dropdown icon"></i>
					<div class="menu">
                        <li class="item">English</li>
                        <li class="item">Français</li>
                        <li class="item">العرب</li>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui left vertical menu sidebar hidden" data-no-turbolink>
	<a class="typeform-share link item" href="https://fahizzle.typeform.com/to/J4Sv7R" data-mode="1" target="_blank"><i class="comments icon"></i> Feedback</a>
	<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    <a class="item">Home</a>
    <a class="item">Ethos</a>
    <a class="item">Courses</a>
    <a class="item">Contribute</a>
    <a class="item">Donate</a>
    <div class="header item"><i class="translate icon"></i> </div>
    <li class="item">English</li>
    <li class="item">Français</li>
    <li class="item">العرب</li>
</div>

<div class="ui grid">
	<div class="column tablet mobile only">
		<div class="ui large menu mobile-menu">
			<div class="header item">
			</div>
			<div class="right menu">
				<a class="toc item">
					<i class="sidebar icon"></i>
				</a>
			</div>
		</div>
	</div>
</div>