---
title: Soul Medicine | Ethos
layout: site_base
---

<div class="ui container centered content">
    <section>
        <h2 class="ui teal header">
            We are always looking for help!
        </h2>
        <div class="section-text">
            <p>We’re looking for volunteers and ambassadors who can help us build more courses, translate texts and help us spread the word about our service. Interested? Send an email to team@soulmedicine.io.
</p>
        </div>
    </section>
</div>