---
title: Soul Medicine | Courses
layout: site_base
---
<div class="ui container stackable grid right aligned three columns">
    <div class="right floated column">
        <div class="ui breadcrumb">
    <div class="active section">
      Courses
    </div>
  </div>

    </div>
  </div>

<div class="ui container centered content">
    <div class="ui three stackable cards">
            <div class="ui card">
                <div class="content">
                    <div class="header">Biology</div>
                    <div class="description"><p>The Biology course is designed to teach all about the human biology, from anatomy all the way to circulation and everything in between</p></div>
                </div>
                <div class="extra content">
                    <div class="ui tiny three statistics">
                        <div class="ui statistic">
                            <div class="value">2</div>
                            <div class="label">Subjects</div>
                        </div>
                        <div class="ui statistic">
                            <div class="value">14</div>
                            <div class="label">Lessons</div>
                        </div>
                        <div class="ui statistic">
                            <div class="value">8</div>
                            <div class="label">Users</div>
                        </div>
                    </div>
                    <div class="">
                        <a href="/pages/courses/1.html" class="ui animated fluid teal button" tabindex="0">
                            <div class="visible content">Explore the course</div>
                            <div class="hidden content">
                                <i class="right arrow icon"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    </div>
            
</div>