<div class="ui container">
    <h2 class="dividing header">
        <%= t('ethos_page.what_is_soul_medicine') %>
    </h2>
    <%= simple_format t('ethos_page.what_is_soul_medicine_paragraph') %>
</div>