<div id ="useit" class="content-section-a">

	<div class="container">

		<div class="row">

			<div class="col-sm-6 pull-right wow fadeInRightBig">
				<%= image_tag('ipad.png', class: 'img-responsive') %>
			</div>

			<div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">
				<h3 class="section-heading">Full Responsive</h3>
				<div class="sub-title lead3">Lorem ipsum dolor sit atmet sit dolor greand fdanrh<br> sdfs sit atmet sit dolor greand fdanrh sdfs</div>
				<p class="lead">
					In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret.
					Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur,
					uam non erat mirum sapientiae lorem cupido
					patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.
				</p>

				<p><a class="btn btn-embossed btn-primary" href="#" role="button">View Details</a>
					<a class="btn btn-embossed btn-info" href="#" role="button">Visit Website</a></p>
			</div>
		</div>
	</div>
	<!-- /.container -->
</div>

<div class="content-section-b">

	<div class="container">
		<div class="row">
			<div class="col-sm-6 wow fadeInLeftBig">
				<div id="owl-demo-1" class="owl-carousel">
					<%= image_tag('ipad.png', class: 'image-link') %>
						<div class="item">
							<img  class="img-responsive img-rounded" src="img/iphone.png" alt="">
						</div>
					</a>
					<a href="img/iphone.png" class="image-link">
						<div class="item">
							<img  class="img-responsive img-rounded" src="img/iphone.png" alt="">
						</div>
					</a>
					<a href="img/iphone.png" class="image-link">
						<div class="item">
							<img  class="img-responsive img-rounded" src="img/iphone.png" alt="">
						</div>
					</a>
				</div>
			</div>

			<div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">
				<h3 class="section-heading">Drag Gallery</h3>
				<div class="sub-title lead3">Lorem ipsum dolor sit atmet sit dolor greand fdanrh<br> sdfs sit atmet sit dolor greand fdanrh sdfs</div>
				<p class="lead">
					In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret.
					Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur,
					uam non erat mirum sapientiae lorem cupido
					patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.
				</p>

				<p><a class="btn btn-embossed btn-primary" href="#" role="button">View Details</a>
					<a class="btn btn-embossed btn-info" href="#" role="button">Visit Website</a></p>
			</div>
		</div>
	</div>
</div>