---
title: Soul Medicine | Courses
layout: site_base
---
<div class="ui container stackable grid right aligned three columns">
    <div class="right floated column">
        <div class="ui breadcrumb">
      <a href="/en/courses">Courses</a>
      <div class="divider">/</div>
    <div class="active section">
      Biology
    </div>
  </div>

    </div>
  </div>

<div class="ui container centered content">
    <div class="ui raised segment">
        <div class="ui huge list">
                <div class="item">
                    <i class="book icon"></i>
                    <div class="content">
                        <div class="header">Bones</div>
                        <div class="description">Bones are literally what hold humans up</div>
                        <div class="list">
                                <div class="item">
                                    <i class="file text outline icon"></i>
                                    <div class="content">
                                        <div class="header">
                                            <a href="/pages/courses/lesson.html">Day 1 - Intro</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>