---
title: Soul Medicine | Courses
layout: site_base
---

<div class="ui container stackable grid right aligned three columns">
    <div class="right floated column">
        <div class="ui breadcrumb">
      <a href="/en/courses">Courses</a>
      <div class="divider">/</div>
      <a href="/en/course/1">Biology</a>
      <div class="divider">/</div>
      <a href="/en/course/1">Bones</a>
      <div class="divider">/</div>
    <div class="active section">
      Day 1 - Intro
    </div>
  </div>

    </div>
  </div>

<div class="ui container centered content">
        <div class="ui segment">
            <div class="ui red label ribbon">English</div>
            <div class="large text"><p>Bone tissue makes up the rigid part of the skeleton and is therefore the structural framework of our body. Apart from supporting and protecting the softer tissues it assists in movement (skeletal muscles are attached to it) and stores minerals. Just as e.g. cartilage, blood or adipous tissue (fat), bone tissue is a type of connective tissue. That means it is composed of both cells and a surrounding matrix. It includes 4 different cell types with various functions like forming new bone or secreting the matrix components. In all connective tissues the matrix consists of collagen fibres and the so called ground substance, a gel-like mass containing water and sugary proteins (e.g. hyaloronic acid which is also used in a wide range of beauty creams nowadays). Uniquely to bone and tooth tissue, this normally gelatinous matrix also contains a high amount of calcium, magnesium and phosphate ions (salts). By chemical reaction, these salts are responsible for the mineralisation of the matrix so that it embeds all present cells solidly. The outer layer of the long bones is made up of extremely hard compact material (cortical bone) while the tissue closer to the bone marrow is rather spongy (cancellous bone) to allow a relatively low weight of the skeleton.</p>
</div>
        </div>
        <div class="ui segment">
            <div class="ui red label ribbon">Français</div>
            <div class="large text"><p>Le tissu osseux constitue la partie rigide du squelette et représente donc la structure de notre corps. En plus de soutenir et protéger les tissus plus fins, il aide au mouvement (les muscles squelettiques y sont attachés) et stocke des minéraux. Tout comme par exemple le cartilage, le sang ou le tissu adipeux (c'est-a-dire la graisse), le tissu osseux est un type de tissu conjonctif. Cela signifie qu'il est composé à la fois de cellules et de la matrice qui l'entoure. Cela inclut quatre types de cellules avec des fonctions variées, qui incluent la reformation de l'os, ou la sécrétion des composants de la matrice. Pour tous les tissus conjonctifs la matrice est composée de fibres de collagène. Ces dernières, qui sont des substances de base similaires au gel, contiennent principalement de l'eau et des protéines sucrées (comme l'acide hyaluronique qui, de nos jours, est utilisé dans de nombreuses crèmes de beauté). Réservé uniquement aux tissus osseux et dentaires, cette matrice normalement gelatineuse contient aussi une grande quantité de calcium, magnesium ainsi que des ions de phosphate (autrement dit du sel). C'est par leur réaction chimique que ces sels sont responsables de la minéralisation de la matrice afin qu'elle intègre solidement toutes les cellules présentes. La couche extérieure des os longs est faite d'un matériau compact très dur (l'os cortical) tandis que le tissu plus proche de la moelle osseuse est plutot spongieux (on parle d'ailleurs d'os spongieux) pour permettre au squelette de peser relativement léger.</p>
</div>
        </div>
        <div class="ui segment">
            <div class="ui red label ribbon">Deutsch</div>
            <div class="large text"><p>Knochengewebe ist der Teil des Skeletts, der ihm Festigkeit gibt, und daher das Struktur gebende Gerüst unseres Körpers. Abgesehen von der Stütze und dem Schutz der weicheren Gewebe, vermittelt es auch Bewegung (die Skelettmuskulatur ist mit dem Skelett verbunden) und speichert Mineralstoffe. Wie auch z.B. Knorpel, Blut oder Fettgewebe ist Knochen eine Form von Bindegewebe. Das bedeutet, dass es sowohl aus Zellen als auch aus einer umgebenden Matrix besteht. In Knochengewebe finden sich vier verschiedene Zelltypen, die viele verschiedene Funktionen ausführen, wie neues Knochengewebe bilden oder die Komponenten der Matrix sekretieren (abgeben). In allen Formen von Bindegeweben besteht die Matrix aus Kollagenfasern und der sogenannten Grundsubstanz, eine gelartige Masse, die Wasser und zuckerartige Proteine (z.B. Hyaluronsäure, die heutzutage auch in vielen Kosmetikprodukten verwendet wird) besteht. Einzig in Knochen- und Zahngewebe enthält diese normalerweise gelartige Matrix hohe Konzentrationen an Calcium-, Magnesium- und Phosphat-Ionen (Salze). Durch chemische Reaktion sind diese Salze verantwortlich für die Mineralisation der Matrix, sodass alle vorhandenen Zellen fest eingebettet werden. Die äußere Schicht der langen Knochen besteht aus extrem hartem, kompaktem Material (auch genannt Kortikalis) während das Gewebe nahe dem Knochenmark schwammartig ist (Spongiosa), und somit die relative Leichtigkeit des Skeletts bedingt.</p>
</div>
        </div>
        <div class="ui segment">
            <div class="ui red label ribbon">العربية</div>
            <div class="large text"><p>يشكل النسيج العظمي القسم الصلب من الهيكل العظمي و بالتالي يشكل الإطار الهيكلي لجسمنا. الى جانب دوره في دعم و حماية النسج الأكثر ليونةً، فانه يساعد في الحركة (العضلات الهيكلية تتعلق به) و يقوم بتخزين المعادن. على غرار الغضاريف، الدم، او النسج الدهنية، يعد النسيج العظمي نوعاً من النسج الضامة. هذا يعني انه مكون من كلٍ من الخلايا و النسيج العظمي (بين الخلوي) المحيط بها. يحتوي على اربع انواع مختلفة من الخلايا كل منها لديه وظيفة مختلفة مثل تشكيل عظم جديد او إفراز محتويات النسيج العظمي بين الخلوي. في كل النسج الضامة، يحتوي النسيج بين الخلوي على ألياف الكولاجين بالاضافة الى كتلة هلامية تحتوي على الماء و البروتينات السكرية (مثل حمض الهيالورونيك المستعمل في العديد من كريمات التجميل في يومنا هذا). مما يميز النسيج العظمي و نسيج الأسنان بشكل خاص هو ان هذا النسيج بين الخلوي الهلامي عادةً، يحتوي أيضاً على كميات كبيرة من شوارد (او أملاح) الكالسيوم، المغنيزيوم، و الفوسفات.هذه الأملاح مسؤولة ، من خلال التفاعلات الكيماوية، عن تمعدن النسيج بين الخلوي حتى يضم كل الخلايا الموجودة بشكل متين. تتكون الطبقة الخارجية من العظام الطويلة من مادة مضغوطة شديدة الصلابة (العظم القشري)، في حين ان النسيج الأقرب الى نُقيّ العظم يكون إسفنجي القوام (العظم المساميّ) لكي يمنح الهيكل العظمي وزنا خفيفا نسبياً.</p>
</div>
        </div>
</div>