<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
        <h1 class="ui inverted header">
            <%= t('site.title') %>
        </h1>
        <h2><%= t('site.tagline') %>.</h2>
        <p><%= t('site.sub_tagline') %></p>
        <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>
</div>


<% content_for :head do %>
   <%= stylesheet_link_tag "pages/homepage" -%>
<% end %>