<div class="ui container centered content">
    <% @courses.each do |course| -%>
    <div class="ui segment">
        <h2 class="ui teal header">
            <%= course.name %>
        </h2>
        <div class="section-text">
            <p><%= course.description %></p>
            <div class="ui statistics">
                <div class="ui statistic">
                    <div class="value">
                        <%= course.subject_matters.count %>
                    </div>
                    <div class="label">
                        Subjects
                    </div>
                </div>
                <div class="ui statistic">
                    <div class="value">
                        <%= course.lessons.count %>
                    </div>
                    <div class="label">
                        Lessons
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end -%>
</div>