<% content_for :breadcrumbs do -%>
  <div class="ui container stackable grid right aligned three columns">
    <div class="right floated column">
      <%= semantic_breadcrumbs %>
    </div>
  </div>
<% end -%>

<%= render :template => 'layouts/site_base' %>